name: Terraform Dev Environment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: Terraform  Dev Env
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

     
      
      - name: Terraform Init Dev
        working-directory: ./infra/env/dev
        run: terraform init

      - name: Terraform Validate Dev
        working-directory: ./infra/env/dev
        run: terraform validate

      - name: Terraform Plan Dev
        working-directory: ./infra/env/dev
        run: terraform plan

      - name: Terraform Apply Dev
        working-directory: ./infra/env/dev
        run: terraform apply -auto-approve
